# Outils et écosystème de la science des données

Dans ce notebook, les outils et l'écosystème de la science des données sont résumés.

__Objectifs:__
- Lister les langages populaires pour la science des données
- Lister les bibliothèques populaires pour la science des données
- Lister les outils la science des données

Certains des langages populaires que les scientifiques des données utilisent sont :

1. Python
2. R
3. SQL

Certaines des bibliothèques couramment utilisées par les scientifiques des données incluent :

1. Pandas
2. Numpy
3. ggplot

|Outils de la science des données|
|--------------------------------|
|Jupyter notebook|
|Apache Spark|
|KNIME|

Voici quelques exemples d'évaluation d'expressions arithmétiques en Python

In [22]:
# Ceci est une simple expression arithmétique pour multiplier puis additionner des entiers
(3*4)+5

17

In [24]:
# Cela convertira 200 minutes en heures en divisant par 60
200/60

3.3333333333333335

## Auteur
ACKEY